---
layout: default
---

{% for cat in site.categories %}
  {% if cat[0]=="Wine" %}
    {% assign wine_posts = cat[1] | sort: "date" | reverse %}
  {% endif %}
  {% if cat[0]=="Software" %}
    {% assign software_posts = cat[1] | sort: "date" | reverse %}
  {% endif %}
{% endfor %}

<div class="main-post-list main-content">

  <div class="post-list wine">
    <h3>Wine Blogs</h3>
    <br>
    {% for post in wine_posts %}
      {% include post_preview.html %}
    {% endfor %}
  </div>

  <div class="post-list software">
    <h3>Software Blogs</h3>
    <br>
    {% for post in software_posts %}
      {% include post_preview.html %}
    {% endfor %}
  </div>

</div>
